﻿@{
    Layout = null;
    ViewBag.Title = "";
}





<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        html, body, #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
    </style>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCNbRM5YDKPWurlNWHp4iPUCODJ2au42pw&sensor=false">
    </script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        function initialize() {
            var locations;
            var centerLat;
            var centerLong;
            $.ajax({
                type: "GET",
                url: "/api/whereami/GetLocationPointsBySession?sessionId=@Request.QueryString["id"]",
                error: function (xhr, status, error) { alert(error); },
                success: function (data, text, jqXhr) {
                    if (data != null) {
                        locations = new Array(data.length);
                        for (var i = 0; i < data.length; i++) {
                            locations[i] = [data[i].InsertedDate, data[i].Latitude, data[i].Longitude];
                        }
                        centerLat = data[0].Latitude;
                        centerLong = data[0].Longitude;

                        var mapOptions = {
                            center: new google.maps.LatLng(centerLong, centerLat),
                            zoom: 8,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                        var map = new google.maps.Map(document.getElementById("map-canvas"),
                            mapOptions);

                        var infowindow = new google.maps.InfoWindow();

                        var marker, i;

                        for (i = 0; i < locations.length; i++) {
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                map: map
                            });

                            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                return function () {
                                    infowindow.setContent(locations[i][0]);
                                    infowindow.open(map, marker);
                                }
                            })(marker, i));
                        }
                    }

                }
            });


        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>
<body>
    <div id="map-canvas"></div>
</body>
</html>
