﻿
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div id="sessionsList">

</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/api/whereami/GetSessions?email=ricardo.ricjose@gmail.com",
                error: function (xhr, status, error) { alert(error); },
                success: function (data, text, jqXhr) {
                    for (var i = 0; i < data.length; i++) {
                        $('#sessionsList').append("<iframe src=\"/MapPortal/Index?id=" + data[i].Id + "\"></iframe>");
                    }
                }
            });
        });

</script>
}
